.container {
    margin: 0 0 24px 0;
}

.container h1,
.content-wrapper {
    margin-bottom: 16px;
}

.content-wrapper :global(.content) {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.content-wrapper p {
    font-size: 20px;
    font-weight: 400;
    color: var(--SERIOUS_GRAY);
    margin: 0;
}

.content-wrapper a {
    color: var(--link-color);
}

.italic {
    font-style: italic;
}

.disease-copy {
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}
